body {
    background-color: rgba(105, 105, 105, 0.644);
    text-align: center;
}

h1, h2, h3 {
    background-color: rgba(205, 13, 45, 0.591);
    color:rgb(31, 31, 94);
}

p {
    font-size: 30px;
    color: rgb(171, 40, 40)
}

b {
    color:rgb(28, 17, 194);
}

i {
    color:rgb(21, 235, 60);
}